.printer-list {
  .example-margin {
    margin: 10px;
  }
  .print-table {
    table {
      width: 100%;
      margin-top: 20px;

      .mat-header-cell {
        font-size: 16px;
        font-weight: 500;
      }

      .mat-cell {
        font-size: 16px;
      }
    }
  }
  mat-slide-toggle {
    margin-right: 1.2rem;
  }
}
.printer-popup {
  mat-dialog-content.mat-typography.mat-dialog-content {
    overflow: unset !important;
  }
  mat-form-field.printer-form-popup {
    width: 100%;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
}
