<div *ngIf="loading" class="loader-wrapper">
  <div class="loader">{{'internal-user-list-component.Loading' | translate}}</div>
</div>
<div class="main-container external-user-list">
  <div class="container-fluid">
    <div class="box-wrapper">
      <div class="d-flex">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <h3>{{'external-user-list-component.External-User-List' | translate}}</h3>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <button mat-icon-button class="button" aria-label="add icon"
                matTooltip="{{'external-user-list-component.Create-External-User' | translate}}"
                (click)="openExternalUserDialog()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
          <div class="title-border"></div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="full-width">
              <mat-label>{{'external-user-list-component.User-Name' | translate}}
              </mat-label>
              <input type="text" maxlength="70" matInput [(ngModel)]="filterUser.name" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <button mat-icon-button type="button"
              matTooltip="{{'external-user-list-component.Apply-Filter' | translate}}" class="button"
              (click)="getUserList()">
              {{'external-user-list-component.Apply-Filter' | translate}}
            </button>
            <button mat-icon-button type="button" matTooltip=" {{'external-user-list-component.Clear-Filter' | translate}}" class="button" (click)="clearFilter()">
              {{'external-user-list-component.Clear' | translate}}
            </button>
          </div>
        </div>
      </div>
      <div class="print-table">
        <table mat-table table [dataSource]="userList" multiTemplateDataRows class="mat-elevation-z8">
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>{{'external-user-list-component.First-Name' | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
          </ng-container>
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>{{'external-user-list-component.Last-Name' | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>
          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef>{{'external-user-list-component.User-Name' | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>{{'external-user-list-component.Email-ID' | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>{{'external-user-list-component.Actions' | translate}}</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button class="button" aria-label="delete icon" (click)="deleteExternalUser(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>