$white-color: var(--white-color,#fEFFFB);
$black-color: var( --black-color, #232D33);
$border-color: var(--border-color, #e6e6e6);
$disable-color: var(--disable-color, #f7f7f7);
$gray-color: var(--gray-color, #8e8e8e);
$red-color: var(--red-color, #ef4156);
$green-color:var(--green-color,#2cb757);
$blue-title: var(--blue-title, #2da8ea);
$dark-gray-color: var(--dark-gray-color, #797979);
$toggle-bg-color: var(--toggle-bg-color, #e1e1e1);
$orange-color: var(--orange-color, #ff9e1f);
$color-light-gray: #c4c4c4;
$color-black : #2e2e38;
$box-shadow-color : rgba(146, 146, 146, 0.25);
$background-hover-color: rgba(222, 226, 230, 1);


