<div class="dash-main d-flex align-items-center">
    <div class="row w-100">
        <div class="col-md-4 offset-md-2">
            <div class="box-wrapper text-center">
                <h3 class="title">{{'print-dashboard-component.Issued-Prints' | translate}}</h3>
                <div class="gray-separator"></div>
                <div class="print-info">
                    <button type="button" class="button print-btn mb-2"
                        (click)="printInfo(printTypes.IP)">{{'print-dashboard-component.Print' | translate}}</button>
                    <button type="button" class="button print-btn mb-2"
                        (click)="rePrintInfo(printTypes.IP)">{{'print-dashboard-component.Reprint' |
                        translate}}</button>
                    <button type="button" class="button print-btn mb-2"
                        (click)="redirectToAuditTrail(printTypes.IP)">{{'print-dashboard-component.Audit' |
                        translate}}</button>
                    <button type="button" class="button print-btn mb-2"
                        (click)="rePrintInfo(printTypes.IP, false, true)">{{'print-dashboard-component.Reconciliation' |
                        translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box-wrapper text-center">
                <h3 class="title">{{'print-dashboard-component.Controlled-Prints'| translate}}</h3>
                <div class="gray-separator"></div>
                <!-- *ngIf="user && user.roles && roles" -->
                <div class="print-info" >
                    <button type="button" class="button print-btn mb-2"
                        (click)="printInfo(printTypes.CP)">{{'print-dashboard-component.Print'| translate}}</button>
                    <button type="button" class="button print-btn mb-2"
                        (click)="rePrintInfo(printTypes.CP)">{{'print-dashboard-component.Reprint'| translate}}</button>
                    <button type="button" class="button print-btn mb-2"
                        (click)="redirectToAuditTrail(printTypes.CP)">{{'print-dashboard-component.Audit'|
                        translate}}</button>
                    <button type="button" class="button print-btn mb-2"
                        (click)="rePrintInfo(printTypes.CP, true, false)">{{'print-dashboard-component.Recall'|
                        translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>